# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# OS
.DS_Store
Thumbs.db